*{
    font-family: Georgia, "Times New Roman", Times, serif;
}
body{
    font-family: Georgia, "Times New Roman, Times, serif";
    font-size: 13px;
}
.wrapper-Row1 {
    background: #333333;
    color: #C0BAB6;
}
header {
    width: 950px;
    margin: 0 auto;
    overflow: auto;
}
div#hgroup {
    width: 290px;
    float: left;
    margin-top: 30px;
}
#hgroup h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
}
#hgroup h2 {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
header nav {
    width: 530px;
    float: right;
    background: #120101;
    margin: 30px 0 30px 30px;
    color: white;
}
header nav ul li {
    display: inline;
    font-size: 17px;
    margin-right: 20px;
}
div#wrapper-Row2 {
    width: 950px;
}
div#wrapper-Row2 {
    width: 950px;
    margin: 0 auto;
    margin-top: 20px;
}
#wrapper-Row2 figure {
    width: 950px;
    margin: 0;
    padding: 0;
}
figure img {
    width: 950px;
    padding-left: 0;
    margin-left: 0;
}
div#divsParent {
    margin-top: 15px;
    overflow: auto;
}
.divs {
    width: 309px;
    float: left;
    margin-right: 15px;
}
#divsParent figure {
    padding: 5px;
    width: 289px;
    /* margin-right: 20px; */
    border: 1px solid;
}
#divsParent figure img {
    width: 280px;
}
#divsParent figcaption p {
    float: right;
}
#divsParent figcaption p a {
    color: orange;
}
div#lastDiv {
    float: right;
    width: 301px;
}
#divsParent #lastDiv figure img {
    width: 289px;
}
div#articleParent {
    overflow: auto;
}
article {
    width: 400px;
    float: left;
}
div#articleImage {
    width: 450px;
    float: right;
    border: 1px solid;
    padding: 5px;
}
div#wrapper-Row3 {
    color: white;
    background: black;
}
div#parentSection {
    width: 950px;
    margin: auto;
    overflow: auto;
}
section {
    float: left;
}
div#lastSection {
    float: right;
}